@import '../../variables.scss';

.new-message{
    padding: 2em;
    border: 2px solid lightgrey;
    border-radius: $border-radius-l;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.light{
    color: black;
}

@media (max-width:600px){
    .new-message{
        padding: 0.5rem;
        width: 95vw;
    }
}