@import '../../variables.scss';

.header{
    background-color: $background-color-second;
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .theme{
        width: 50px;
        cursor: pointer;
        animation: appear .65s  ease-in-out;
    }
}


@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

