@import '../../variables.scss';

.item{
    background-color: $background-color-second;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: $border-radius;
    position: relative;

    .nick{
        color: black;
    }

    .body{
        font-size: $font-l;
    }

    .date{
        position: absolute;
        right: 10px;
        top: 30%;
    }

}

